.alarme {
    list-style-type: none;
    font-size: 1.3em;
    padding: 0.75em;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    color: rgb(245, 245, 245);
    /* height: relative; */
}

.alarme:hover {
    background-color: rgb(58, 5, 5);
    cursor: pointer;
}

.alarmes-list {
    max-height: 320px;
    overflow: auto;
}

.disabled {
    color: rgb(170, 170, 170);
    background-color: rgb(70, 70, 70);
}

.disabled:hover {
    background-color: rgb(100, 100, 100);
}

.removeAlarme {
    float: right;
}

.toogleAlarme{
    float: right;
}