body {
    margin: 0;
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: rgb(20, 20, 20);
    padding: 1em;
}

.header h1 {
    font-size: 1.8em;
    color: rgb(230, 230, 230);
    font-weight: bold;
    display: inline-flex;

}

.header .settings {
    float: right;
    display: inline-flex;
    color: white;
    margin-top: 1em;
}

.selected-horloge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.bottom-content {
    width: 100%;
    display: flex;
}

.column {
    flex: 1;
    padding: 1em;
    padding-top: 0em;
}

h2 {
    color: rgb(235, 235, 235);
    text-align: center;
}

.add-alarme {
    margin: 0.5em;
    display: block;
    margin: auto;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.25em;
    border: 0;
    background-color: rgb(78, 0, 0);
    color: white;
}

.add-alarme:hover {
    background-color: rgb(145, 0, 0);
    cursor: pointer;
}

.settings {
    cursor: pointer;
}

.gray-screen {
    z-index: 0;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(10, 10, 10, 0.85);
    width: 100%;
    height: 100%;
}

.btns {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
}

.btn1,
.btn2 {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.25em;
    border: 1px solid white;
    background-color: rgb(78, 0, 0);
    color: white;
}

.btn1:hover,
.btn2:hover {
    background-color: rgb(145, 0, 0);
    cursor: pointer;
}

.notifs {
    z-index: -1;
    position: fixed;
    bottom: 2%;
    display: flex;
    width: 100%;
    justify-content: right;
}