.notif{
    font-size: 1.1em;
    padding: .75em;
    margin: .5em;
    width: 200px;
    height: 150px;
}

.notif h3{
    font-weight: bold;
    margin-bottom: 1px solid black;
}

.notif.info{
    background-color: rgba(136, 215, 217, 0.8);
}

.notif.error{
    background-color: rgba(229, 76, 76, 0.8);
    color:rgb(98, 0, 0)
}

.notif.success{
    background-color: rgba(126, 254, 136, 0.8);
    color:rgb(0, 98, 10)
}