.prompt-alarme {
    z-index: 1;
    position: fixed;
    width: 40%;
    height: 50%;
    background-color: rgb(230, 230, 230);
    top: 25%;
    left: 30%;
    border-radius: 0.25em;
    padding: 1em;
}

.prompt-alarme h2{
    color: rgb(78, 0, 0);
}

.timeInput{
    font-size: 5em;
    padding: .75em;
    display: block;
    margin: auto;
    margin-top: 1.5em;
    color: rgb(78, 0, 0);
}

