.now-alarme {
    z-index: 1;
    position: fixed;
    width: 40%;
    height: 30%;
    background-color: rgb(230, 230, 230);
    top: 25%;
    left: 30%;
    border-radius: 0.25em;
    padding: 1em;
}

.now-alarme h2{
    color: rgb(78, 0, 0);
}

.current-alarme{
    font-size: 3em;
    text-align: center;
}